header {
    border-bottom: rgb(255, 204, 51) double 0.5rem;
    color: rgb(255, 255, 240);
    background-color: rgb(128, 0, 32);
    height: 6vh;
}
footer {
    border-top: rgb(255, 204, 51) double 0.5rem;
    padding: 1rem;
    text-align: right;
    color: rgb(255, 255, 240);
    background-color: rgb(128, 0, 32);
    height: 7vh;
}
footer > p {
    margin: 0;
    padding: 0;
}
#verysmol {
    font-size: 60%;
}
img {
    border-radius: 2rem;
    border: rgb(255, 204, 51) double 0.5rem;
}

h3 {
    text-align: center;
}
a {
    color: inherit;
    text-decoration: none;
}
p {
    margin: 0;
    padding: 0;
}

main{
    padding-top: 10rem;
    padding-bottom: 6rem;
    min-height: 87vh;
    background-color: transparent;
    background-image: url("../imgs/mainbackg.jpg");
    background-position: center;
    background-size:cover;
}

#contentmain {
    padding: 3rem;
    margin: auto;
    background-color: rgba(128, 0, 32, 0.9);
    border-radius: 6rem;
    border: rgb(255, 204, 51) double 0.5rem;
    text-align: justify;
    color: rgb(201, 189, 255);
}

#contentmain > h1,h2,#contentmain > h3,#contentmain > h4, h5 {
    color: rgb(255, 204, 51);
    text-shadow: 0px 0px 3.5px rgb(255, 255, 255);
}
#contentmain > h1 {
    text-align: center;
}





/*#region NavIcon1*/
#navicon1 {
    background-color: lightgray;
    padding: 0;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    height: 15rem;
    width: 15rem;
    border-radius: 4rem;

}
#navicon1base{
    padding: 6rem 0 6rem 0;
    height: 100%;
    width: 100%;
    background-color: darkgray;
    background-image: url("../imgs/icon.png");
    background-position: center;
    background-size: contain;
    border-radius: 4rem;
    color: rgb(255, 204, 51);
    text-shadow: 0px 0px 5px rgb(107, 0, 0);
}
#navicon1hidden1{
    padding: 5rem 1rem 5rem 1rem;
    margin: auto;
    display: none;
    background-image:
    linear-gradient(rgba(139, 69, 19, 0.4), rgba(139, 69, 19, 0.4)),
    url('../imgs/hurkak.jpeg');
    background-size: cover;
    height: 100%;
    background-position: center;    
    border-radius: 4rem 0 0 4rem;
    color: rgb(255, 204, 51);
    text-shadow: 0px 0px 5px rgb(107, 0, 0);
}
#navicon1hidden2{
    padding: 5rem 1rem 5rem 1rem;
    margin: auto;
    display: none;
    background-image:
    linear-gradient(rgba(255, 255, 240, 0.4), rgba(255, 255, 240, 0.4)),
    url('../imgs/lefisheauchocolat.jpg');
    background-size: cover;
    height: 100%;
    background-position: center;
    border-radius: 0 4rem 4rem 0;   
    color: rgb(255, 204, 51);
    text-shadow: 0px 0px 5px rgb(107, 0, 0);
}
#navicon1:hover #navicon1base {
    display: none;
}
#navicon1:hover #navicon1hidden1{
    display: inline;
}
#navicon1:hover #navicon1hidden2{
    display: inline;
}
/*#endregion*/

/*#region NavIcon2*/
#navicon2 {
    background-color: lightgray;
    padding: 0;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    height: 15rem;
    width: 15rem;
    border-radius: 4rem;

}
#navicon2base{
    padding: 6rem 0 6rem 0;
    height: 100%;
    width: 100%;
    background-color: darkgray;
    background-image: url("../imgs/icon.png");
    background-position: center;
    background-size: contain;
    border-radius: 4rem;
    color: rgb(255, 204, 51);
    border-radius: 4rem;
    text-shadow: 0px 0px 5px rgb(107, 0, 0);
}
#navicon2hidden1{
    padding: 5rem 1rem 5rem 1rem;
    margin: auto;
    display: none;
    background-image:
    linear-gradient(rgba(139, 69, 19, 0.4), rgba(139, 69, 19, 0.4)),
    url('../imgs/burito.png');
    background-size: cover;
    height: 100%;
    background-position: center;    
    border-radius: 4rem 0 0 4rem;
    color: rgb(255, 204, 51);
    text-shadow: 0px 0px 5px rgb(107, 0, 0);
}
#navicon2hidden2{
    padding: 5rem 1rem 5rem 1rem;
    margin: auto;
    display: none;
    background-image:
    linear-gradient(rgba(255, 255, 240, 0.4), rgba(255, 255, 240, 0.4)),
    url('../imgs/almas-pite.png');
    background-size: cover;
    height: 100%;
    background-position: center;
    border-radius: 0 4rem 4rem 0;   
    color: rgb(255, 204, 51);
    text-shadow: 0px 0px 5px rgb(107, 0, 0);
}
#navicon2:hover #navicon2base {
    display: none;
}
#navicon2:hover #navicon2hidden1{
    display: inline;
}
#navicon2:hover #navicon2hidden2{
    display: inline;
}
/*#endregion*/

/*#region NavIcon3*/
#navicon3 {
    background-color: lightgray;
    padding: 0;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    height: 15rem;
    width: 15rem;
    border-radius: 4rem;

}
#navicon3base{
    padding: 6rem 0 6rem 0;
    height: 100%;
    width: 100%;
    background-color: darkgray;
    background-image: url("../imgs/icon.png");
    background-position: center;
    background-size: contain;
    border-radius: 4rem;
    color: rgb(255, 204, 51);
    border-radius: 4rem;
    text-shadow: 0px 0px 5px rgb(107, 0, 0);
}
#navicon3hidden1{
    padding: 5rem 1rem 5rem 1rem;
    margin: auto;
    display: none;
    background-image:
    linear-gradient(rgba(139, 69, 19, 0.4), rgba(139, 69, 19, 0.4)),
    url('../imgs/mexikoicsirke.jpg');
    background-size: cover;
    height: 100%;
    background-position: center;    
    border-radius: 4rem 0 0 4rem;
    color: rgb(255, 204, 51);
    text-shadow: 0px 0px 5px rgb(107, 0, 0);
}
#navicon3hidden2{
    padding: 5rem 1rem 5rem 1rem;
    margin: auto;
    display: none;
    background-image:
    linear-gradient(rgba(255, 255, 240, 0.4), rgba(255, 255, 240, 0.4)),
    url('../imgs/lekvbejgli.jpg');
    background-size: cover;
    height: 100%;
    background-position: center;
    border-radius: 0 4rem 4rem 0;   
    color: rgb(255, 204, 51);
    text-shadow: 0px 0px 5px rgb(107, 0, 0);
}
#navicon3:hover #navicon3base {
    display: none;
}
#navicon3:hover #navicon3hidden1{
    display: inline;
}
#navicon3:hover #navicon3hidden2{
    display: inline;
}
/*#endregion*/


/*#region siteicon1*/
#siteicon1 {
    position:relative;
    right: -2rem;
    left: -2rem;
    background-color: transparent;
    padding: 0;
    margin: 0;
    height: 5rem;
    width: 5rem;
    border-radius: 20rem;

}
#sitecon1a{
    position:relative;
    padding: 0;
    margin: auto;
    background-image:
    linear-gradient(rgba(139, 69, 19, 0.4), rgba(139, 69, 19, 0.4)),
    url('../imgs/hurkak.jpeg');
    background-size: cover;
    height: 5rem;
    width: 2.5rem;
    background-position: center;    
    border-radius: 20rem 0 0 20rem;
}
#sitecon1b{
    position:relative;
    padding: 0;
    margin: auto;
    background-image:
    linear-gradient(rgba(255, 255, 240, 0.4), rgba(255, 255, 240, 0.4)),
    url('../imgs/lefisheauchocolat.jpg');
    background-size: cover;
    height: 5rem;
    width: 2.5rem;
    background-position: center;
    border-radius: 0 20rem 20rem 0;
}

.active1a{
    right: 0.6rem;
    scale: 150%;
}

.active1b{
    left: 0.6rem;
    scale: 150%;
}
/*#endregion*/

/*#region siteicon2*/



/*#endregion*/

/*#region siteicon3*/
#siteicon3 {
    position:relative;
    right: -2rem;
    left: -2rem;
    background-color: transparent;
    padding: 0;
    margin: 0;
    height: 5rem;
    width: 5rem;
    border-radius: 20rem;

}
#sitecon3a{
    position:relative;
    padding: 0;
    margin: auto;
    background-image:
    linear-gradient(rgba(139, 69, 19, 0.4), rgba(139, 69, 19, 0.4)),
    url('../imgs/mexikoicsirke.jpg');
    background-size: cover;
    height: 5rem;
    width: 2.5rem;
    background-position: center;    
    border-radius: 20rem 0 0 20rem;
}
#sitecon3b{
    position:relative;
    padding: 0;
    margin: auto;
    background-image:
    linear-gradient(rgba(255, 255, 240, 0.4), rgba(255, 255, 240, 0.4)),
    url('../imgs/lekvbejgli.jpg');
    background-size: cover;
    height: 5rem;
    width: 2.5rem;
    background-position: center;
    border-radius: 0 20rem 20rem 0;
}

.active3a{
    right: 0.6rem;
    scale: 150%;
}

.active3b{
    left: 0.6rem;
    scale: 150%;
}
/*#endregion*/